.#{$app-prefix}-right {
  height: 100%;

  &-title{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-bottom: 1px solid #ccc;
  }
  &-content{
    height: calc(100% - 50px);
    &-search{
      padding: 8px 16px;
      height: 50px;
    }
    &-menu{
      height: calc(100% - 50px);
      overflow: auto;
      .ant-collapse-header{
        background-color: #f7f7f7;
        border-radius: 0 !important;
        //background-color: #1677ff;
        .ant-collapse-header-text{
          //color: #ffffff;
        }
        .ant-collapse-arrow svg{
          //color: #ffffff;
        }
      }
    }
  }
  &-list{
    &-item{
      //height: 60px;
      padding: 6px 0 !important;
      .ant-tag{
        margin-inline-end: 0;
      }
      &-content{
        border-radius: 8px;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 8px 16px 8px 4px;
        line-height: 16px;
        cursor: move;
        border: 1px solid transparent;
        &>span{
          display: block;
          width: calc(100% - 20px);
          overflow: hidden;
          white-space: nowrap;
          word-break: break-word;
          text-overflow: ellipsis;
        }
        img{
          display: block;
          margin-right: 4px;
        }
        &:hover,&.active{
          //background-color: #1677ff;
          //color: #ffffff;
        }
      }
    }

  }
}

.#{$app-prefix}-light .#{$app-prefix}-right{
  color: #111111;
}
.#{$app-prefix}-night {
  .ant-collapse-header{
    background-color: rgb(73, 73, 92);
  }
  .lbm-tab-layout-right-sider{
    border-left-color: rgb(73, 73, 92);
  }
  .lbm-tab-right-title{
    border-bottom-color: rgb(73, 73, 92);
  }
  .#{$app-prefix}-right .ant-tag{
    background-color: rgb(73, 73, 92);
  }
}